@font-face {
  font-family: "Icomoon";
  src: url("../fonts/Anonymous_Pro/AnonymousPro-Regular.ttf"); }
h1, h2, p {
  font-family: Icomoon; }

body {
  margin: 0;
  font-family: Icomoon; }

body {
  overflow: hidden;
  height: auto; }
  body .background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(#555, #111); }
  body .fixedObjects {
    z-index: 3;
    position: fixed; }
  body .layout {
    width: 100%;
    position: absolute;
    top: 0; }
    body .layout .header {
      z-index: 1;
      height: 100vh;
      position: absolute;
      margin: auto;
      width: 100%; }
      body .layout .header .logo-left {
        fill: white;
        cursor: pointer;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: scale(1.5); }
      body .layout .header .logo-right {
        cursor: pointer;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: scale(1.5); }
  body .footer {
    z-index: 4;
    position: fixed; }
    body .footer .contact {
      position: fixed;
      bottom: -200px;
      width: 100%;
      height: 200px; }
      body .footer .contact .head-menu-bottom {
        z-index: 4;
        color: #eee;
        position: absolute;
        margin: auto;
        cursor: pointer;
        bottom: 200px;
        right: 0;
        left: 0;
        width: 200px;
        height: 60px;
        background: rgba(20, 20, 20, 0.5);
        color: rgba(239, 239, 239, 0.5); }
        body .footer .contact .head-menu-bottom h1 {
          margin: 0;
          cursor: pointer;
          padding: 0;
          padding-top: 3px;
          width: 100%;
          text-align: center;
          font-size: 45px; }
      body .footer .contact .left {
        cursor: default;
        position: absolute;
        left: 0;
        height: 100%;
        width: 30%;
        background: rgba(20, 20, 20, 0.5); }
        body .footer .contact .left .logo {
          position: absolute;
          left: 5%;
          top: 12%;
          width: 20%;
          height: auto; }
        body .footer .contact .left .as {
          position: absolute;
          top: 9%;
          left: 27.5%;
          width: 20%;
          height: auto; }
        body .footer .contact .left div {
          position: absolute;
          right: 10%;
          width: 35%;
          height: 100%;
          color: rgba(239, 239, 239, 0.5); }
          body .footer .contact .left div p {
            font-size: 20px; }
      body .footer .contact .middle {
        cursor: default;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        height: 100%;
        width: 40%;
        background: rgba(20, 20, 20, 0.5); }
        body .footer .contact .middle p {
          width: 100%;
          text-align: center;
          margin-top: 10px;
          margin-bottom: 0; }
        body .footer .contact .middle .copy-0 {
          width: 1px;
          position: absolute;
          margin: auto;
          top: 27.5px;
          left: 75px;
          right: 0px;
          font-size: 15px;
          color: #eee;
          opacity: 0; }
        body .footer .contact .middle .copy-1 {
          width: 1px;
          position: absolute;
          margin: auto;
          top: 102.5px;
          left: 75px;
          right: 0px;
          font-size: 15px;
          color: #eee;
          opacity: 0; }
        body .footer .contact .middle .title-mail {
          margin: 0;
          margin-top: 20px;
          font-size: 25px; }
          body .footer .contact .middle .title-mail .work {
            color: rgba(62, 161, 183, 0.5);
            border-bottom: 1px solid rgba(62, 161, 183, 0.5); }
          body .footer .contact .middle .title-mail .info {
            color: rgba(236, 161, 55, 0.5);
            border-bottom: 1px solid rgba(236, 161, 55, 0.5); }
        body .footer .contact .middle .mail {
          color: rgba(239, 239, 239, 0.5);
          font-size: 20px; }
          body .footer .contact .middle .mail a {
            cursor: pointer; }
      body .footer .contact .right {
        position: absolute;
        right: 0;
        height: 100%;
        width: 30%;
        background: rgba(20, 20, 20, 0.5); }
        body .footer .contact .right .title-social {
          margin: 0;
          margin-top: 20px;
          font-size: 25px;
          width: 100%;
          text-align: center; }
          body .footer .contact .right .title-social a {
            color: rgba(193, 200, 0, 0.5);
            border-bottom: 1px solid rgba(193, 200, 0, 0.5); }
        body .footer .contact .right svg {
          cursor: pointer; }
        body .footer .contact .right .facebook {
          width: 45px;
          height: auto;
          position: absolute;
          margin: auto;
          top: 75px;
          right: 53%;
          left: 0; }
        body .footer .contact .right .discord {
          width: 55px;
          height: auto;
          position: absolute;
          margin: auto;
          top: 65px;
          left: 0;
          right: 0; }
        body .footer .contact .right .twitch {
          width: 45px;
          height: auto;
          position: absolute;
          margin: auto;
          top: 75px;
          left: 53%;
          right: 0; }
        body .footer .contact .right .twitter {
          width: 40px;
          height: auto;
          position: absolute;
          margin: auto;
          top: 120px;
          left: 0;
          right: 24%; }
        body .footer .contact .right .youtube {
          width: 40px;
          height: auto;
          position: absolute;
          margin: auto;
          top: 120px;
          right: 0;
          left: 24%; }
      body .footer .contact .CR {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20px;
        background: #111;
        cursor: default; }
        body .footer .contact .CR h1 {
          color: rgba(239, 239, 239, 0.3);
          margin: 0;
          padding: 3px;
          width: 100%;
          height: 100%;
          font-size: 13px;
          text-align: center; }
          body .footer .contact .CR h1 span {
            color: rgba(239, 239, 239, 0.7); }

@media screen and (max-width: 992px) {
  body .layout .footer .contact {
    bottom: -400px;
    width: 100%;
    height: 400px; }
    body .layout .footer .contact .head-menu-bottom {
      bottom: 400px; }
    body .layout .footer .contact .left {
      bottom: 0;
      height: 200px;
      width: 50%; }
    body .layout .footer .contact .middle {
      top: 0;
      height: 200px;
      width: 100%; }
    body .layout .footer .contact .right {
      bottom: 0;
      height: 200px;
      width: 50%; } }
@media screen and (max-width: 600px) {
  body .layout .footer .contact {
    bottom: -600px;
    width: 100%;
    height: 600px; }
    body .layout .footer .contact .head-menu-bottom {
      bottom: 600px; }
    body .layout .footer .contact .left {
      bottom: 0;
      height: 200px;
      width: 100%; }
    body .layout .footer .contact .middle {
      top: 0;
      height: 200px;
      width: 100%; }
    body .layout .footer .contact .right {
      margin: auto;
      top: 0;
      bottom: 0;
      height: 200px;
      width: 100%; } }
