@font-face {
  font-family: "Icomoon";
  src: url("../fonts/DejaVuSans-ExtraLight.ttf"); }
h1, h2, p {
  font-family: Icomoon; }

body {
  margin: 0;
  font-family: Icomoon; }

body {
  overflow: hidden; }

.front-page {
  position: absolute;
  background: red;
  background-size: cover;
  height: 100%;
  width: 100%; }
  .front-page .myVideo {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 130%;
    max-height: 130%;
    display: inline-block; }
  .front-page .git-logo {
    z-index: 1;
    position: absolute;
    height: 80px;
    left: 110px;
    bottom: 50px;
    cursor: pointer; }
    .front-page .git-logo:hover .st0 {
      transform: scale(0.9); }
    .front-page .git-logo .st0 {
      transition: transform 0.5s 0s;
      transform-origin: 40px 40px;
      transform: scale(1); }

.fixed-obj {
  z-index: 10;
  position: fixed; }
  .fixed-obj .logo-div {
    position: fixed;
    top: 50px;
    left: 100px;
    height: 50px;
    width: 500px;
    white-space: nowrap;
    display: inline-block; }
    .fixed-obj .logo-div .mouse-logo {
      z-index: 2;
      position: fixed;
      height: 40px;
      width: 84px;
      left: 110px;
      cursor: pointer; }
    .fixed-obj .logo-div .mouse-as {
      z-index: 2;
      position: fixed;
      height: 40px;
      width: 65px;
      left: 214px;
      cursor: pointer; }
    .fixed-obj .logo-div .logo {
      height: 40px;
      margin-left: 10px;
      margin-right: 10px;
      display: inline-block;
      float: left; }
    .fixed-obj .logo-div .as {
      height: 40px;
      margin-left: 10px;
      margin-right: 10px;
      display: inline-block; }
  .fixed-obj .menu {
    position: fixed;
    right: 100px;
    top: 60px;
    display: inline; }
    .fixed-obj .menu a {
      color: #fff;
      margin-left: 17px;
      margin-right: 17px;
      cursor: pointer;
      font-size: 20px;
      padding: 0;
      text-transform: uppercase; }

.site-nav {
  position: absolute;
  width: 100%;
  height: 100%; }
  .site-nav .graphics {
    width: 100%;
    height: 100%;
    background: radial-gradient(#ff4a41, #87211d);
    position: absolute;
    left: -110%;
    overflow: hidden; }
    .site-nav .graphics .graphics-y {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 10%;
      background: red;
      display: inline-block;
      width: 55%;
      height: auto;
      min-height: 100%; }
      .site-nav .graphics .graphics-y div {
        margin-top: 150px;
        margin-left: 5%;
        margin-right: 5%;
        height: 700px;
        width: 90%;
        background: white;
        display: inline-block; }
  .site-nav .d3 {
    width: 100%;
    height: 100%;
    background: radial-gradient(yellow, #818500);
    position: absolute;
    top: 110%;
    overflow: hidden; }
    .site-nav .d3 .d3-y {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 10%;
      background: green;
      display: inline-block;
      width: 55%;
      height: auto;
      min-height: 100%; }
      .site-nav .d3 .d3-y div {
        margin-top: 150px;
        margin-left: 5%;
        margin-right: 5%;
        height: 700px;
        width: 90%;
        background: white;
        display: inline-block; }
  .site-nav .programming {
    width: 100%;
    height: 100%;
    background: radial-gradient(#5df0ff, #296b79);
    position: absolute;
    right: -110%;
    overflow: hidden; }
    .site-nav .programming .programming-y {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 10%;
      background: blue;
      display: inline-block;
      width: 55%;
      height: auto;
      min-height: 100%; }
      .site-nav .programming .programming-y div {
        margin-top: 150px;
        margin-left: 5%;
        margin-right: 5%;
        height: 700px;
        width: 90%;
        background: white;
        display: inline-block; }
