@font-face {
  font-family: "Icomoon";
  src: url("../fonts/DejaVuSans-ExtraLight.ttf"); }
h1, h2, p {
  font-family: Icomoon; }

body {
  margin: 0;
  font-family: Icomoon; }

body {
  overflow: hidden; }

.front-page {
  position: absolute;
  background: url("../img/background.png") no-repeat bottom center fixed;
  background-size: cover;
  height: 100%;
  width: 100%; }
  .front-page .git-logo {
    z-index: 1;
    position: absolute;
    height: 80px;
    left: 95px;
    bottom: 110px;
    cursor: pointer; }

.fixed-obj {
  z-index: 10;
  position: fixed; }
  .fixed-obj .logo-div {
    position: fixed;
    top: 50px;
    left: 100px;
    height: 50px;
    width: 500px;
    white-space: nowrap;
    display: inline-block; }
    .fixed-obj .logo-div .mouse-logo {
      z-index: 2;
      position: fixed;
      height: 40px;
      width: 84px;
      left: 110px;
      cursor: pointer; }
    .fixed-obj .logo-div .mouse-as {
      z-index: 2;
      position: fixed;
      height: 40px;
      width: 65px;
      left: 214px;
      cursor: pointer; }
    .fixed-obj .logo-div .logo {
      height: 40px;
      margin-left: 10px;
      margin-right: 10px;
      display: inline-block;
      float: left; }
    .fixed-obj .logo-div .as {
      height: 40px;
      margin-left: 10px;
      margin-right: 10px;
      display: inline-block; }
  .fixed-obj .menu {
    position: fixed;
    right: 100px;
    top: 60px;
    display: inline; }
    .fixed-obj .menu a {
      color: #fff;
      margin-left: 17px;
      margin-right: 17px;
      cursor: pointer;
      font-size: 20px;
      padding: 0;
      text-transform: uppercase; }

.site-nav {
  position: absolute;
  width: 100%;
  height: 100%; }
  .site-nav .graphics {
    width: 100%;
    height: 100%;
    background: radial-gradient(#ff4a41, #87211d);
    position: absolute;
    left: -110%; }
  .site-nav .d3 {
    width: 100%;
    height: 100%;
    background: radial-gradient(yellow, #818500);
    position: absolute;
    top: 110%; }
  .site-nav .programming {
    width: 100%;
    height: 100%;
    background: radial-gradient(#5df0ff, #296b79);
    position: absolute;
    right: -110%; }
